nav li {
display : inline-block;
width: 10%;
padding: 8px 20px;
background-color: goldenrod;
border: 1px solid;
text-align: center;
color:black;
}

h1{
font-family: cursive;
color: indigo;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}
body{
    background-color: darkslateblue;
}

p{
    display: inline ;
}