<div class="card">
    <div class="card border-warning">
    <div class="card-body" >
<div class="jumbotron-mt-4">
    <h1 class="display-4">PioneerTech</h1>
    <p class="lead">Soluciones para tu negocio.</p>
    <hr class="my-4">
    <p>Aplicaci칩n para el 치rea de ventas, gesti칩n comercial, control y administraci칩n, automatiza y aumenta la productividad.</p>
    <a href="https://github.com/JuanOrtizLetrado/ProyectoMintic-PioneerTech" target="_blank" class="btn btn-primary btn-lg">Git Hub</a>
</div>
</div>
</div>
</div>